<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map with Flask</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 700px;
            width: 100%;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Opdatering af projektgrænse</h1>
    <div id="map"></div>
    <div class="button-container">
        <button onclick="sayHello()">Click Me</button>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"></script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([56.8, 9.1], 9);

        // Set up the OSM layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        // Add ArcGIS layer
        L.esri.featureLayer({
            url: 'https://services6.arcgis.com/QHir1urgnGYroCLG/arcgis/rest/services/PG_versioneret_110624/FeatureServer/0'
        }).addTo(map);

        function sayHello() {
            fetch('/hello')
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
